<div id="about">
  <h2>このサイトについて</h2>
  <div>
    仕様通りに動くことだけを目的としたプログラムを公開しています。
  </div>
	<div id="callout">
		（注）実用性はありません。
	</div>
</div>

<style>
  div#about {
    margin: 30px 0;
  }

	div#callout {
		background-color: var(--color-callout);
		color: var(--color-bg);
		padding: 10px 0;
		text-align: center;
		border-radius: 50px;
    margin: 50px 0;
	}
</style>