<div id="about">
  <h2>このサイトについて</h2>
  <div>
    このサイトは、管理人が作成した様々なプログラムを公開するサイトです♪(･ω&lt;)☆
  </div>
	<div id="callout">
		（注）実用性はありません。
	</div>
</div>

<style>
  div#about {
    margin: 30px 0;
  }

	div#callout {
		background-color: var(--color-callout);
		color: var(--color-bg);
		padding: 10px 0;
		text-align: center;
		border-radius: 50px;
    margin: 50px 0;
		display:none;
	}
</style>