---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export const getStaticPaths = (async () => {
  const snippets = await getCollection("snippets");
  return snippets.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await render(post);
---
<Layout>
  <div id="no">No. {post.data.index}</div>
  <h1>{post.data.title}</h1>
  <Content />
</Layout>

<style>
  h1 {
    margin: 5px 0 50px 0;
    font-size: var(--font-size-lg);
    font-weight: bold;
  }

  div#no {
    margin: 0;
    font-size: var(--font-size-sm);
  }

</style>